In [1]:
import pandas as pd

Definir panda series con indices especificos

In [3]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )

In [4]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

Otra forma de definirla:

In [5]:
dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
psg_players[1]

'Navas'

Para hacer estructuras de mas de una dimension:

In [9]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
  'Altura':[175.0,170.0,170.0,165.0],
  'Goles':[2,200,200,200]
        }

In [10]:
pd.DataFrame(dict, index = [1,7,10,30])

   Jugador  Altura  Goles
1    Navas   175.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200